body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

body.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: gray;
  color: white;
  row-gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

table td,
table th {
  padding: 1rem;
  border: 1px solid #ccc;
}

table th {
  background-color: #ccc
}
.info h1 {
  margin: 0;
}
.info {
  padding: 1rem 0;
  margin-bottom: 1rem;
  align-self: flex-start;
  margin-right: auto;
}

.error-text {
  color: red;
  font-weight: bold;
}

.table-id-column {
  width: 4%;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal; 
  overflow: hidden;   
}

table th, table td {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal; 
  overflow: hidden;   
}
table {
  table-layout: fixed;
  width: 100%;        
}